.star-rating{
  width: 20rem;
  height: 25rem;
  margin: 5rem auto;
  /* background: rgb(39, 48, 59); */
  background: #212832;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.thank-you{
  display: block;
  margin: 20px auto;
}
.rate{
  background-color: #262d37;
  color: #fc7613;
  width: 13rem;
  /* height: 2rem; */
  text-align: center;
  margin: 1px auto;
  border-radius: 10px;
  padding: 0 2px;
  font-size: 1rem;
}
.heading{
  font-size: 1.5rem;
  color: #dbe0e6;
}
.appreciate{
  color: #b9b9bd;
}

@media screen and (min-width: 768px){
  .star-rating{
    width: 25rem;
  }
}